@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3 , a {
   
    font-family: 'Kanit', sans-serif;
}

p {
   
    font-family: 'Kanit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-aqua-600 to-aqua-400;
}

::selection {
    background-color: #0C4A6E; 
    color: #ffffff;           
  }
  
  ::-moz-selection {
    background-color: #ffcc00; 
    color: #ffffff;
  }


  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    border: 10px solid transparent;
  }
  ::-webkit-scrollbar-track:hover {
    border: 12px solid rgba(0, 0, 0.5, 0.2);
  }
  ::-webkit-scrollbar-thumb {
    background: radial-gradient(at bottom right, #496dc2, #4e7890, #bfc6d1);
    border-radius: 50px;
  }
  
  